body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

#product-list .card {
    margin-bottom: 20px;
}

.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .navbar,
.dark-mode .modal-content {
    background-color: #333;
    color: #e0e0e0;
}

.dark-mode .card {
    background-color: #333;
    color: #e0e0e0;
}

.dark-mode .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.dark-mode .btn-secondary,
.dark-mode .btn-danger {
    background-color: #6c757d;
    border-color: #6c757d;
}

.dark-mode .list-group-item {
    background-color: #444;
    color: #e0e0e0;
}

.dark-mode .form-control {
    background-color: #555;
    color: #e0e0e0;
}

.dark-mode .modal-body {
    background-color: #333;
    color: #e0e0e0;
}

.dark-mode .modal-header {
    border-bottom: 1px solid #444;
}

.dark-mode .modal-footer {
    border-top: 1px solid #444;
}

#contactModal img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}
.comments-section {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.comment-form {
    margin-top: 10px;
}

.comment {
    margin-bottom: 10px;
}

.comment strong {
    display: block;
}
